<div class="container">
    <div class="row">
        <div class="col-12 mb-3 py-4">
            <h1>{{ service.orderList.customer_Name || 'Loading' }} Orders</h1>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-xs-12 col-md-6">
            <h2 class="mb-3">Orders</h2>
            <table class="table table-light table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngIf="service.orderList?.orders?.length === 0; else orderList">
                    <tr>
                        <td colspan="3" scope="row">No orders available</td>
                    </tr>
                </tbody>
                <ng-template #orderList>
                    <tbody>
                        <tr *ngFor="let od of service.orderList?.orders, index as i">
                            <td scope="row">{{ i + 1 }}</td>
                            <td scope="row">
                                {{ od.product_Name }}
                            </td>
                            <td scope="row">
                                <button type="button" class="btn btn-link" (click)="onDelete(od.order_ID)">
                                    <i class="far fa-trash-alt fa-lg text-danger"></i>
                                </button>
                            </td>
                    </tbody>
                </ng-template>
            </table>
        </div>
        <div class="col-xs-12 col-md-6">
            <h2 class="mb-3">All Products</h2>
            <table class="table table-light table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col" [width]="150"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pd of service.productList, index as i">
                        <td scope="row">{{ i + 1 }}</td>
                        <td scope="row">
                            {{ pd.product_Name }}
                        </td>
                        <td scope="row">
                            <button type="button" class="btn btn-outline-primary" (click)="onAddToOrder(pd.product_ID)">
                                Add to order
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>